{% extends "base.html" %}

{% block title %} Email List {% endblock %}

{% block content %} 

<div class="container bg-secondary-subtle col-6 p-4 mt-5">
    
    <div class="row col-10 p-4">

        <h3 class="mb-3">Emails List</h3>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %} 
                    <p class="text-success fw-bold">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Email:</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Updated At</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {% for email in emails %}
                <tr>
                  <td>{{email.email_adress}}</td>
                  <td>{{email.created_at}}</td>
                  <td>{{email.updated_at}}</td>
                  <td><a class="btn btn-danger" href="{{ url_for('delete_user', id = email.id) }}">DELETE</a></td>
                </tr>
                {% endfor %}

              </tbody>
        </table>
        <div>
            <a class="btn btn-primary" href="{{url_for('landing')}}">Home</a>
        </div>

    </div>
</div>

{% endblock %}